.header {
	border:1px;
	color: red;
	border-style: solid;	
	word-spacing: 30px;
}

.disabled {
	color:gray;
	word-spacing: 2px;
}

.active {
	color:yellow;
}

.red {
	color: red;
}

.blue {
	color:blue;
}

.red2 {
	background-color: red;
}

.blue2 {
	background-color: blue;
}

#childGP {
	border:1px;
	color: red;
	border-style: solid;
	border-radius: 8px;
	text-align: left;
	padding-left: 10px

}

.promo {
		color:gold;
		font-weight: bold;
}

.month-list {
	word-spacing: 30px;
}